* {
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}
form {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
}
.result-container {
    clear: both;
    display: block;
    text-align:center;
    margin: 0 auto;
    max-width: 600px;
}
#serial-number {
    width: 100%;
    margin: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
}
button {
    width: 100%;
    margin: 10px 0 20px 0;
    padding: 12px 20px;
    background-color: #FAB200;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}
table {
    margin: 10px auto; /* center the table */
    border-collapse: collapse;
    border: 1px solid #ddd; /* add a border and some padding to the table */
    padding: 10px;
    width: 100%; /* set the width of the table */
}

th {
    background-color: #f2f2f2; /* give the table header a background color */
    text-align: left; /* align the text in the header to the left */
    padding: 8px;
}

td {
    text-align: left; /* align the text in the cells to the left */
    padding: 8px;
}

@media (min-width: 500px) {
    #serial-number {
        width: 50%;
    }
    button {
        width: 50%;
    }
    #results {
        width: 100%;
    }
}

.compatibility-container {
    margin-top: 20px;
    text-align: center;
    max-width: 800px;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode form {
    background-color: #333;
}

body.dark-mode .result-container {
    background-color: #444;
}

body.dark-mode button {
    background-color: #FAB200;
    color: #fff;
}

body.dark-mode table {
    background-color: #444;
    color: #fff;
    border: 1px solid #fff;
}

body.dark-mode th {
    background-color: #555;
    color: #fff;
}

#dark-mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    border: none;
    background: none;
    z-index: 999; /* to ensure the button is on top of other elements */
    cursor: pointer;
}

#dark-mode-toggle svg {
    fill: #000;  /* Color for the icon in light mode */
    width: 24px;
    height: 24px;
}

body.dark-mode #dark-mode-toggle svg {
    fill: #fff; /* Color for the icon in dark mode */
}
